@import url('https://fonts.googleapis.com/css2?family=Anta&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kode+Mono:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.view-all-link {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    background-color: #A8E3E3;
    color: white;
    border-radius: 5px;
  }

.header {
    padding-left: 30px; 
    padding-top: 10px; 
    font-size: 60px;
    font-weight: bold;
  }

.navbar-styling {
    padding-left: 50px; 
    padding-right: 50px; 
    padding-top: 20px; 
    padding-bottom: 20px;
}

.blueFont {
  color: #266D85;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #3a8c66;
}

.overlay-content {
  position: relative;
  top: 20%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

.close-btn {
  position: absolute;
  top: 10%;
  right: 10%;
  color: white;
  width: 2em;
  height: 2em;
  border-radius: 2em;
  border: 1px solid #FFFFFF;
}






